
<div class="container px-5 px-sm-0">
 <p id="notice">
 <%=  notice %>
 </p>
<% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= @user.errors.count %> prohibited this user from being saved:</h2>

      <ul>
        <% @user.errors.full_messages.each do |message| %>
            <li>
              <%= pluralize(@user.errors.count, "error prohibited this obj from being saved:") %>
              <%= message %>
            </li>
        <% end %>
      </ul>
    </div>
  <% end %>
 <div class="row">
  <div class="col-md-3">
    <%= render "user_info", user:@user %>




 <h2 class="mt-3">New book</h2>
<!-- form_with部分 -->
<% if @book.errors.any? %>
  <div id="error_explanation">
    <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= pluralize(@book.errors.count, "error") %>
            <%= message %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model:@book, local:true do |f| %>

  <p>Title</p>
  <%= f.text_field :title %>

  <p>Opinion</p>
  <%= f.text_area :body %>

  <p class="submit"><%= f.submit 'Create Book' %></p>
<% end %>
</div>


<div class="col-md-8 offset-md-1">
    <h2>Books</h2>
  <table class="table">
   <thead>
    <tr>
   <th></th>
   <th>Title</th>
   <th>Opinion</th>
    </tr>
   </thead>
    <tbody>
   <% @books.each do |book| %>
     <tr>
   <td>
       <%= link_to user_path(@user) do %>
       <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg"%>
       <% end %>
       </td>
   <td>
    <%= link_to book_path(book.id) do %>
    <%= book.title %>
    <% end %>
    </td>
   <td><%= book.body %></td>
   </tr>
 <% end %>
    </tbody>
    </table>
   </div>
  </div>
 </div>
</div>

